.post-container {
  display: block;
  position: relative;
  margin: auto;
  height: auto;
  max-width: 500px;
  /* align-items: center; */
  /* border: 2px solid teal; */
  /* border-radius: 15px; */
  /* padding: 1% 1%; */
}

.pic-crop {
  width: 100px;
  min-width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.profile-pic {
  display: inline;
  width: 100%;
  cursor: pointer;
  top: 1%;
}

.pic-crop:hover {
  border: 2px solid white;
  transition: 50ms;
}

.post-img-container {
  display: block;
  justify-content: center;
  margin-bottom: 30px;
}

.post-img {
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.post-description {
  word-wrap: break-word;
  width: 150px;
}

.ratings {
  display: flex;
  align-items: center;
  width: 80px;
  /* margin-right: auto; */
  position: relative;
  margin-bottom: 15px;
}

.ratings > button {
  padding: 0.5em 0;
  width: 110%;
  font-weight: bold;
}

.post-interest {
  display: inline-block;
  position: relative;
  font-weight: bold;
}

.rating-button {
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.rating {
  font-weight: bold;
}

.rating-button-container:hover,
.rating-button-container-selected:hover {
  background-color: rgb(153, 152, 152);
  border-radius: 50%;
  transition: 200ms;
}

.post-date {
  display: inline-block;
  position: relative;
  font-size: 0.85em;
  font-weight: bold;
}
