.loginSquare {
    font-family: 'Montserrat', sans-serif;
    padding: 30px;
    text-align: center;
}

.MuiPaper-outlined.loginSquare  {
    background-color: #143132;
}

.formGaps .MuiContainer-root {
    margin: 30px auto;
}

.errorMessage {
    color: red;
    font-size: 16px;
}