.loginSquare{
    font-family: 'Montserrat', sans-serif;
    color: #e6e5e5;
    background-image: linear-gradient(to bottom right, #79000e, #1ed5db);
    margin: 0 auto;
    border: 10px double rgb(139, 144, 150);
    width: 20%;
    min-width: 400px;
}

.formGaps .MuiContainer-root {
    margin: 20px auto;
}