.container {
  width: 100vh;
  height: 100vh;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.banner {
  width: 100%;
  height: 81px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  background-color: teal;
  align-self: center;
}
.hawkfinder {
  top: auto;
  left: 50%;
  position: relative;
  align-self: center;
  padding-right: 0px;
}
.profile-info {
  width: 100%;
  height: 600px;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  background-color: whitesmoke;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: flex-start;
}
.cover-photo {
  top: 1px;
  width: 70%;
  left: 15%;
  height: 90%;
  position: absolute;
  object-fit: cover;
  flex: auto;
}
.profile-name {
  left: 317px;
  bottom: 30px;
  position: absolute;
  padding-right: 0px;
  font-weight: bold;
}
.friend-count {
  left: 317px;
  bottom: 10px;
  position: absolute;
  padding-right: 0px;
}

.profile-photo {
  left: 144px;
  width: 164px;
  bottom: 1px;
  height: 157px;
  margin: auto;
  z-index: 100;
  position: absolute;
  align-self: flex-end;
  object-fit: cover;
  border-radius: 50%;
}
.about {
  width: 500px;
  height: 266px;
  display: flex;
  align-items: flex-start;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  padding-right: 0px;
  flex-direction: column;
}
.about-title {
  align-self: center;
}
.interests {
  width: 500px;
  height: 300px;
  display: flex;
  align-items: flex-start;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  flex-direction: column;
}
.text4 {
  align-self: center;
}
@media (max-width: 1600px) {
  .cover-photo {
    width: 1596px;
  }
}
