.hawkfinder {
  top: auto;
  left: 50%;
  position: relative;
  align-self: center;
  padding-right: 0px;
}
.body {
  margin: 0 100px; /* add horizontal padding */
}

.profile-info {
  margin: auto;
  max-width: 2000px;
  height: 600px;
  display: flex;
  position: relative;
  align-items: center;
  transition: height 0.3s ease; /* add transition property */
  grid-area: overlap;
}

.cover-photo {
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  margin: auto;
  height: 90%;
  width: 100%;
  max-height: 500px;
  max-width: 1700px;
  object-fit: cover;
  z-index: 1;
}
.pic-n-name {
  display: inline-flex;
}
.profile-name {
  left: 317px;
  bottom: 25px;
  position: absolute;
  padding-right: 0px;
  font-weight: bold;
}
.friend-count {
  left: 317px;
  bottom: 5px;
  position: absolute;
  padding-right: 0px;
}
.edit-button {
  right: 15%;
  z-index: 1;
  top: 560px;
}
.profile-photo {
  left: 144px;
  bottom: 5px;
  width: 157px;
  height: 157px;
  margin: auto;
  z-index: 100;
  position: absolute;
  align-self: flex-end;
  object-fit: cover;
  border-radius: 50%;
}
.second-row {
  max-width: 2000px;
  display: flex;
  margin: auto;
  margin-top: 10px;
  justify-content: center;
}
.spotify-info {
  max-width: 1000px;
  margin-top: 10px;
  height: 300px;
  margin-left: 30px;
  margin-right: 30px;
}
.spotify-box {
  display: flex;
  justify-content: center;
}
.about-and-info {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  max-width: 1000px;
}

.body-inner {
  display: flex;
  justify-content: center;
}

.about,
.interests {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
  height: 266px;
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
}
.My-Interests,
.about-title {
  align-self: center;
}
@media (max-width: 768px) {
  .profile-info {
    max-height: 400px; /* change max-height for smaller screens */
  }
}
