/* p {
    line-height:0px;
    padding-left: 15px;
}
h3 {
    line-height: 0px;
    margin-top: 0;
} */
.songBox {
    box-sizing: border-box;
    display: flex;
    width: auto;
    height: 100px;
    max-height: 100px;
    min-width: 200px;
    max-width: 400px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.songText {
    width: auto;
    margin-right: auto;
    padding:10px;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    justify-content: left;
    max-width: 250px;
}

.currSong {
    display: flex;
    line-height: 0;
    margin-top: 5px
}