.loginSquare{
    display: block;
    text-align: center;
    color: white;
    background-color: grey;
    padding: 20px;
    margin: 20px 0;
    justify-content: center;
    border: 50px solid rgb(139, 144, 150);
}
